.car-card {
    max-width: 400px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 500px;
}

.car-card-image {
    background-size: cover;
}

.car-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
mat-form-field {
  margin-right: 12px;
}
.form-group{
  display: flex;
  justify-content: center;
}
.formfield-margin{
  margin-top: 8px;
}
