  <h1>Festival 1: Horizon Festival Mexico</h1>
  <img class="igf" src="https://cdna.artstation.com/p/assets/images/images/042/789/876/large/nick-elliott-08-mexico.jpg?1635434566" alt="">
  <p>The standard Festival, enables stories</p>
  <h1>Festival 2: Horizon Apex</h1>
  <img class="igf" src="https://cdna.artstation.com/p/assets/images/images/042/789/864/large/nick-elliott-07-apex.jpg?1635434559" alt="">
  <p>The Festival at the eastern coast, enables the Horizon Apex racing-events</p>
  <h1>Festival 3: Horizon Wilds</h1>
  <img class="igf" src="https://cdna.artstation.com/p/assets/images/images/042/789/912/large/nick-elliott-11-wilds.jpg?1635434590" alt="">
  <p>The Festival in the middle of the jungle, located in the south of the map, enables offroad races</p>
  <h1>Festival 4: Horizon Baja</h1>
  <img class="igf" src="https://cdna.artstation.com/p/assets/images/images/042/789/888/large/nick-elliott-09-baja.jpg?1635434574" alt="">
  <p>The Festival in the northwestern desert, enables crosscountry races</p>
  <h1>Festival 5: Horizon Rush</h1>
  <img class="igf" src="https://cdnb.artstation.com/p/assets/images/images/042/789/921/large/nick-elliott-12-rush.jpg?1635434598" alt="">
  <p>The Festival located at the mountain-top in the northern part of the map, enables more PR-Stunts</p>
  <h1>Festival 6: Horizon Street Scene</h1>
  <img class="igf" src="https://cdnb.artstation.com/p/assets/images/images/042/789/899/large/nick-elliott-10-street.jpg?1635434581" alt="">
  <p>The Festival located in the middle of the Map near the highway, enables the Street-Scene-races</p>
